<form [formGroup]="multiStepForms" (ngSubmit)="submit()">
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    @for (step of steps; track step; let index = $index; let last = $last) {
      <mat-step
        [stepControl]="getFormGroup(step.controlName)!"
        >
        <ng-template matStepLabel>{{ step.label }} </ng-template>
        @if (getFormGroup(step.controlName); as formGroup) {
          <formly-form
            [form]="formGroup"
            [fields]="step.fields"
            >
          </formly-form>
        }
        <div class="button-container">
          @if (index !== 0) {
            <button
              mat-raised-button
              color="primary"
              matStepperPrevious
              >
              Back
            </button>
          }
          @if (!last) {
            <button
              mat-raised-button
              color="primary"
              matStepperNext
              [disabled]="!getFormGroup(step.controlName)?.valid"
              >
              Next
            </button>
          }
          @if (last) {
            <button
              mat-raised-button
              color="accent"
              type="submit"
              [disabled]="!multiStepForms.valid"
              >
              Submit
            </button>
          }
        </div>
      </mat-step>
    }
  </mat-horizontal-stepper>
</form>

<!-- Scroll error-->
<!-- <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
<div>
  <label for="username">Username</label>
  <input id="username" formControlName="username" #username>
  <div *ngIf="myForm.controls['username'].touched && myForm.controls['username'].invalid">
    Username is required
  </div>
</div>

<div>
  <label for="email">Email</label>
  <input id="email" formControlName="email" #email>
  <div *ngIf="myForm.controls['email'].touched && myForm.controls['email'].invalid">
    Email is required and must be a valid email
  </div>
</div>

<button type="submit" >Submit</button>
</form> -->

