<div class="container">
  <span class="close-icon" (click)="navigateToLogin()">
    <i class="fa fa-times" style="float: right"></i>
  </span>
  <div class="login form">
    <header>Forgot Password</header>
    <form [formGroup]="otpForm" (ngSubmit)="sendOTP()">
      <input type="email" placeholder="Email" formControlName="email" required email />
      @if (email.touched && email.invalid) {
      <div class="error">
        @if (email.errors?.['required']) { Email is Required }
        @if (email.errors?.['email']) { Invalid Email }
      </div>
      }

      @if (error$ | async; as error) {
      <div class="error mt-4">{{ error }}</div>
      }

      <div class="mt-4">
        <a (click)="otpRequested ? resendOTP() : sendOTP()"
          [style.color]="'#ffb74d'"
          [class.disabled]="resendDisabled">
          {{ otpRequested ? 'Resend OTP' : 'Send OTP' }}
        </a>
        @if (loading$ | async) { <div class="spinner"></div> }
        @if (otpRequested && countdown > 0) {
        <span>{{ countdown }} seconds</span>
        }
      </div>

      @if (otpRequested && !otpVerified) {
      <ng-otp-input [config]="{ length: 6, disableAutoFocus: false }" (onInputChange)="onOtpChange($event)" placeholder="Enter OTP"></ng-otp-input>
      <button type="button" class="button mt-4" (click)="verifyOTP()" [disabled]="otpControl.value?.length !== 6">
        Verify OTP
      </button>
      }
    </form>
  </div>

  @if (otpVerified) {
  <app-passwordresetconfirm [email]="email.value" [otp]="otpControl.value"></app-passwordresetconfirm>
  }
</div>
